html, body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    margin: 0 auto;
}
.my_header{
    width: 75%;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.triangle{
    width: 49%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.sites{
    width: 57%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.img_1{
    width: 25px;
    height: 20px;
    /* margin-top: 20px;
    margin-right: 5px; */
    vertical-align: middle;
    margin-right: 5px;
}
.sites a{
    text-decoration: none;
    color: rgb(204, 199, 199);
    margin-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    
}
.sites a:hover{
    margin-bottom: -2px;
    color: black;
    border-bottom: 2px solid black;
   
}
.main_1{
    width: 100%;
    height: 70%;
    background-image: url('grandparents.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.block_1{
    width: 20%;
    background-color: white;
    text-align: justify;
    color: rgb(163, 200, 58);
    position: absolute;
    font-size: 45px;
    top: 20%;
    right: 15%;
    padding: 30px 20px;
    line-height: 110%;
    
}
.cover{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 30px solid rgb(156, 192, 56);
    border-right: 30px solid transparent;
    box-shadow: -7px 4px 7px rgba(199, 220, 179);
}
.cover_2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-bottom: 30px solid rgb(199, 220, 179);
    border-left: 30px solid transparent;
}
.main_2{
    width: 100%;
    /* height: 350px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 246, 246);
}

.options{
    width: 75%;
    padding: 3% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.lack{
    width: 180px;
    height: 150px;
    background-color: rgb(156, 192, 56);
    font-size: 20px;
    padding: 20px;
    line-height: 150%;
    color: rgb(246, 246, 246);
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.main_2 div p{
    line-height: 140%;
    font-size: 12px;
    justify-content: center;
}
 .cover_3{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 30px solid rgb(177, 213, 65);
    border-right: 30px solid transparent;
    /* box-shadow: -7px 4px 7px rgba(177, 213, 65); */
} 

.cover_4{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-bottom: 30px solid rgb(246, 246, 246);
    border-left: 30px solid transparent;
}
.main_3{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 400px; */
}
.family{
   display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 3%;
    padding: 1% 0;
    /* height: 400px; */
}
.family img{
    width: 50%;
    margin-right: 33px;
}
.family_div p{
    margin-bottom: 10px;
}
.family_p1{
    font-size: 20px;
    font-weight: 600; 
    color: rgb(27, 27, 27);
    margin: 5px 0px;
    word-spacing: 5px;
}
.family_div{
    display: flex;
    flex-direction: column; 
    align-items: stretch;
    justify-content: center;
    width: 100%;
}
.family_p2{
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: rgb(156, 192, 56);
    padding-bottom: 10px;
    }
.family_p3{
    font-weight: normal;
    font-size: 0.9em;
    line-height: 130%;
    color: rgb(99, 97, 97);
}
.main_4{
    width: 100%;
    background-image: url('woman.png');
    background-repeat: no-repeat;
    height: 70%;
    background-size: cover;
    position: relative;
}
.block_2{
    width: 20%;
    background-color: rgb(156, 192, 56);
    text-align: justify;
    color: white;
    position: absolute;
    font-size: 45px;
    top: 20%;
    left: 13%;
    padding: 30px 20px;
    line-height: 110%;
}
.block_2cover{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 20px solid rgb(177, 213, 65);
    border-right: 20px solid transparent;
    box-shadow: -7px 4px 7px rgba(177, 213, 65);
}
.block_2cover_2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-bottom: 20px solid rgb(187, 173, 126);
    border-left: 20px solid transparent;
}
.main_5{
    width: 100%;
    /* height: 400px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main_5_div{
    width: 75%;
    margin: 3% 0;
}
.whattoknow{
    text-align: center;
    font-size: 20px;
    font-weight: 600; 
    color: rgb(65, 62, 62);
    margin: 5px 0px;
    word-spacing: 5px;
    margin-bottom: 20px;
}
.div_3_blocks{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.div_3_blocks div{
    margin-right: 5%;
}
.scobe{
    width: 35px;
    height: 35px;
    background-color: rgb(229, 229, 229);
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;    
}
.scobe2{
    width: 35px;
    height: 35px;
    background-color: rgb(156, 192, 56);
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;   
    color: rgb(229, 229, 229); 
}
.main_6{
    width: 100%;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(163, 200, 58);
}
.couple{
    margin: 5% 0;
    width: 75%;
    /* height: 400px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.couple_img{
    background-image: url('Couple.png');
    background-size: cover;
    width: 50%;
    height: 240px;
    margin-right: 5%;
}
.couple_text{
    background-color: white;
    width: 45%;
    height: 200px;
    padding: 20px;
    position: relative;
    margin-right: 5%;
}
.couple_cover{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 30px solid rgb(163, 200, 58);
    border-right: 30px solid transparent;
    box-shadow: -7px 1px 7px rgba(199, 220, 179);
}
.couple_cover2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-bottom: 30px solid rgb(163, 200, 58);
    border-left: 30px solid transparent;
}
.main_7{
    width: 100%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.people{
    width: 75%;
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.people_1{
    width: 25%;
    /* height: 150px; */
    background-color: rgb(156, 192, 56);
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    
}
.people_img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.img_people{
    width: 60px;
    height: 60px;border-radius: 100%;
}
.people_p{
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: white;
    padding-bottom: 10px;
}
.people_p2{
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;
    color: rgb(238, 230, 230);
}
.people_p ~ p{
    font-size: 6em;
    color: rgb(172, 207, 136);
}
.people_cover{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 30px solid rgb(163, 200, 58);
    border-right: 30px solid transparent;
   
}
.people_cover2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-bottom: 30px solid white;
    border-left: 30px solid transparent;
}
.main_8{
    width: 100%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 246, 246);
}
.last{
    width: 75%;
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    position: relative;
}
.navigation{
    width: 25%;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    }
.last_p{
    color: rgb(65, 62, 62);
    letter-spacing: -1px;
    word-spacing: 4px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 23px;
}
.last a{
    text-decoration: none;
    font-size: 13px;   
    color: rgb(167, 162, 162); 
    margin-bottom: 10px;
}
.last a:hover{
    color: rgb(156, 192, 56);
}
.follow_us{
    width: 25%;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.our_location{
    width: 25%;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
a.psev1::before{
    content: 'f';
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: rgb(156, 192, 56);
    text-align: center;
    vertical-align: middle;
    font-size: 25px;   
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-right: 20px;
   }
   a.psev2::before{
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: rgb(156, 192, 56);
    background-image: url('twitter.logo.png');
    background-size: 35px 35px;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;   
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-right: 20px;
   }
   a.psev3::before{
    content: url('');
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: rgb(156, 192, 56);
    text-align: center;
    vertical-align: middle;
    font-size: 25px;   
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-right: 20px;
   }
   a.psev4::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('home2.png');
    background-size: 20px 20px;
    text-align: center;
    margin-right: 20px;
    float: left;
   }
   a.psev5::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('phone.png');
    background-size: 20px 20px;
    text-align: center;
    margin-right: 20px;
    float: left;
   }
   a.psev6::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('post.png');
    background-size: 20px 20px;
    text-align: center;
    margin-right: 20px;
    float: left;
   }
   .triangle_2{
    width: 75%;
    /* height: 50px; */
    /* position: absolute;
    bottom: 0;
    left: 0; */
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1%;
   }
   .triangle_2 a{
    text-decoration: none;
    font-size: 20px;   
    color: rgb(156, 192, 56); 
   }
   .triangle_2 span{
    font-size: 15px;   
    color: rgb(167, 162, 162); 
    margin-bottom: 10px;
    border-right: 2px solid rgb(167, 162, 162);
    margin-right: 10px;
   }
   /* @media screen and  (min-width: 1200px){
    .block_1{
        width: 40%;
        font-size: 6em;
    }
       .block_2{
           width: 40%;
           font-size: 6em;
       }

   } */
   @media screen and  (min-width: 951px) and  (max-width: 1100px){
    .block_1{
        width: 40%;
        font-size: 5em;
    }
       .block_2{
           width: 40%;
           font-size: 5em;
       }
       .my_header{
           width: 76%;
       }
   }
   @media screen and (min-width: 800px) and (max-width: 950px)  {
    .traning{
     margin-right: -10px;
    }
    .my_header{
        width: 100%;
    }
    .block_1{
        width: 40%;
        font-size: 5em;
    }
       .block_2{
           width: 40%;
           font-size: 5em;
       }
       .family img{
           height: 20vh;
       }
       .family_div p{
           line-height: 130%;
       }
}
   @media screen and (max-width: 799px) {
    .triangle{
        width: 44%;
    }
    .block_1{
        width: 40%;
        font-size: 4em;
        left: 25%;
    }
       .block_2{
           width: 40%;
           font-size: 4em;
           left: 25%;
       }
    .options{
        width: 90%;
        /* height: 350px; */
    }
    .lack{
        width: 17%;
        height: 40%;
    }
    .family{
        width: 90%;
        height: 80%;
    }
    .family img{
        width: 40%;
        height: 65%;
    }
    .main_5_div{
        width: 90%;
        padding: 1%;
    }
    .div_3_blocks{
        width: 100%;
    }
    .couple{
        width: 90%;
    }
    .people{
        width: 90%;
    }
    .people_1{
        width: 25%;
        height: 45%;
    }
    .last{
        width: 90%;
    }
    .navigation{
        width: 24%;
        height: 57%;
    }
    .follow_us{
        width: 24%;
        height: 57%;
    }
    .our_location{
        width: 24%;
        height: 57%;
    }
    .couple_text{
        width: 98%;
    }
    .couple_img{
        width: 98%;
    }
    .my_header{
        width: 98%;
    }
    .sites{
        width: 60%;
    }
    .triangle_2{
       width: 98%;
    }
}
@media screen and (max-width: 649px) {
    .main_1{
        height: 50%;
    }
    .main_4{
        height: 50%;
    }
    .triangle{
        width: 30%;
    }
.options{
    flex-wrap: wrap;
   }
   .lack{
       width: 35%;
       margin: 2%;
   }
   .main_2 div p{
       font-size: 15px;
   }
.family{
    display: flex;
    flex-direction: column;
    }
    .family img{
        width: 90vw;
        margin: 1%;
    }
    .family_p1{
        font-size: 25px;
    }
    .family_p2{
        font-size: 20px;
    }
    .family_p3{
        font-size: 15px;
    }
    .family_div{
        margin-top: 4%;
    }
    .div_3_blocks{
        display: flex;
        flex-direction: column;
    }
    .scobe, .scobe2{
        margin-bottom: 3%;
    }
    .couple{
        display: flex;
        flex-direction: column;
    }
    .couple_text{
        width: 90%;
        height: 150px;
        margin-top: 4%;
    }
    .people{
        display: flex;
        flex-direction: column;
    }
    .people_1{
        width: 96%;
        margin-bottom: 4%;
    }
    .people_img{
        justify-content: space-around;
    }
    .people_p{
        font-size: 20px;
    }
    .people_p2{
        font-size: 15px;
    }
    .last{
        display: flex;
        flex-wrap: wrap;
    }
    .navigation{
        width: 45%;
        margin-bottom: 5%;
    }
    .follow_us{
        width: 45%;
    }
    .our_location{
        width: 45%;
    }
    .last_p{
        font-size: 20px;
    }
    .last a{
        font-size: 20px;
    }
}
@media screen and (max-width: 649px){
    .my_header{
        display: flex;
        flex-direction: column;
        padding: 1%;
    }
    .triangle{
        font-size: 2em;
        margin-bottom: 1%;
        }
    .sites{
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
    }
    .block_1{
        width: 40%;
        height: 30%;
        font-size: 3em;
    }
    .block_2{
        height: 30%;
        font-size: 3em;
    }
    .whattoknow{
        font-size: 2em;
    }
    .family_p2{
        font-size: 1.7em;
    }
    .family_p3{
        font-size: 1.5em;
    }
    .couple_text{
        height: 50%;
    }
    .people img{
        width: 30%;
        height: 30%;
    }
    .people_p{
        font-size: 3em;
    }
    .people_p2{
        font-size: 1.5em;
    }
    .last{
        flex-direction: column;
        align-items: center;
    }
    .navigation{
        width: 90%;
    }
    .last_p{
        font-size: 2em;
    }
    .last a{
        font-size: 2em;
    }
    .follow_us{
        width: 90%;
        margin-bottom: 4%;
    }
    .our_location{
        width: 90%;
    }
    .triangle_2{
        font-size: 2em;
    }
    .triangle_2 span{
        font-size: 1em;
    }
    .triangle_2 a{
        font-size: 1em;
    }
}
@media screen and (max-width: 404px){
    .sites{
        width: 90%;
    }
    .block_1{
        width: 47%;
        font-size: 2.9em;
    }
    .block_2{
        font-size: 2.5em;
    }
    .options{
        display: flex;
        flex-direction: column;
    }
    .lack{
        width: 90%;
    }
    .lack h2{
        font-size: 2em;
        margin-bottom: 4%;
        line-height: 150%;
    }
    .main_2 div p{
        font-size: 1.5em;
    }
    .family_p1{
        font-size: 2em;
        line-height: 150%;
    }
    .family_p2{
        font-size: 2em;
    }
    .whattoknow{
        line-height: 150%;
    }
    .triangle_2{
        line-height: 150%;
    }
}



